<!-- SKILLS -->
<section>
    <div class="cuerpo skills">
        <div class="contenedor">
            <h2 class="titulo-de-seccion">HARD SKILLS</h2>
            <div class="botones-acciones add">
                <img class="add" src="../../../assets/imágenes/agregar.png" data-bs-toggle="modal" data-bs-target="#staticBackdropAgregarHardSkill">
            </div>
            <!-- MODAL - AGREGAR HARD SKILL -->
            <div class="modal fade" id="staticBackdropAgregarHardSkill" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modal-title"><b>AGREGAR HARD SKILL</b></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="">
                                <div class="mb-3">
                                    <label for="validationDefault01" class="form-label"><b>NOMBRE DEL SKILL</b></label>
                                    <input type="text" class="form-control" id="validationDefault01" required>
                                </div>
                                <div class="mb-3">
                                    <label for="validationDefault01" class="form-label"><b>PORCENTAJE</b></label>
                                    <input class="ingresar-porcentaje" type="number" min="0" max="100" step="5">
                                </div>                                                
                                <div class="modal-footer">
                                    <button class="btn btn-secondary" type="submit">agregar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- HTML -->
        <div>
            <div class="skill">
                <div class="skill-nombre"><b>HTML</b></div>
                <div class="contenedor">
                    <div class="skill-barra contenedor">
                        <div class="skill-porcentaje hard" per="70"></div>
                    </div>
                    <div class="botones-acciones">
                        <img class="editar" src="../../../assets/imágenes/editar.png" alt="" data-bs-toggle="modal" data-bs-target="#staticBackdropHardSkill">
                    </div>
                    <!-- MODAL - EDITAR SKILL -->
                    <div class="modal fade" id="staticBackdropHardSkill" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modal-title"><b>HTML</b></h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form action="">
                                        
                                        <!-- ACÁ VA LA BARRA DE PORCENTAJE -->

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="botones-acciones">
                        <img class="borrar" src="../../../assets/imágenes/borrar.png" alt="">
                    </div>
                </div>
            </div>
        </div>

        <!-- CSS -->
        
        <div class="skill">
            <div class="skill-nombre"><b>CSS</b></div>
            <div class="contenedor">
                <div class="skill-barra contenedor">
                    <div class="skill-porcentaje hard" per="60"></div>
                </div>
                <div class="botones-acciones">
                    <img class="editar" src="../../../assets/imágenes/editar.png" alt="">
                </div>
                <div class="botones-acciones">
                    <img class="borrar" src="../../../assets/imágenes/borrar.png" alt="">
                </div>
            </div>
        </div>
        
        
        
        <!-- ANGULAR -->
        <div class="skill">
            <div class="skill-nombre"><b>ANGULAR</b></div>
            <div class="contenedor">
                <div class="skill-barra contenedor">
                    <div class="skill-porcentaje hard" per="20"></div>
                </div>
                <div class="botones-acciones">
                    <img class="editar" src="../../../assets/imágenes/editar.png" alt="">
                </div>
                <div class="botones-acciones">
                    <img class="borrar" src="../../../assets/imágenes/borrar.png" alt="">
                </div>
            </div>
        </div>
        
        
        <!-- JAVACSRIPT -->
        <div class="skill">
            <div class="skill-nombre"><b>JAVACSRIPT</b></div>
            <div class="contenedor">
                <div class="skill-barra contenedor">
                    <div class="skill-porcentaje hard" per="60"></div>
                </div>
                <div class="botones-acciones">
                    <img class="editar" src="../../../assets/imágenes/editar.png" alt="">
                </div>
                <div class="botones-acciones">
                    <img class="borrar" src="../../../assets/imágenes/borrar.png" alt="">
                </div>
            </div>
        </div>
        
        
        
        <!-- JAVA -->
        <div class="skill">
            <div class="skill-nombre"><b>JAVA</b></div>
            <div class="contenedor">
                <div class="skill-barra contenedor">
                    <div class="skill-porcentaje hard" per="70" style="--per: 70%"></div>
                </div>
                <div class="botones-acciones">
                    <img class="editar" src="../../../assets/imágenes/editar.png" alt="">
                </div>
                <div class="botones-acciones">
                    <img class="borrar" src="../../../assets/imágenes/borrar.png" alt="">
                </div>
            </div>
        </div>
    
        
        <!-- SQL -->
        <div class="skill">
            <div class="skill-nombre"><b>SQL</b></div>
            <div class="contenedor">
                <div class="skill-barra contenedor">
                    <div class="skill-porcentaje hard" per="80"></div>
                </div>
                <div class="botones-acciones">
                    <img class="editar" src="../../../assets/imágenes/editar.png" alt="">
                </div>
                <div class="botones-acciones">
                    <img class="borrar" src="../../../assets/imágenes/borrar.png" alt="">
                </div>
            </div>
        </div>
        
        
        <!-- SPRING BOOT -->
        <div class="skill">
            <div class="skill-nombre"><b>SPRING BOOT</b></div>
            <div class="contenedor">
                <div class="skill-barra contenedor">
                    <div class="skill-porcentaje hard" per="50"></div>
                </div>
                <div class="botones-acciones">
                    <img class="editar" src="../../../assets/imágenes/editar.png" alt="">
                </div>
                <div class="botones-acciones">
                    <img class="borrar" src="../../../assets/imágenes/borrar.png" alt="">
                </div>
            </div>
        </div>
        
        <hr>
        <div class="contenedor">
            <h2 class="titulo-de-seccion">SOFT SKILLS</h2>
            <div class="botones-acciones add">
                <img class="add" src="../../../assets/imágenes/agregar.png" data-bs-toggle="modal" data-bs-target="#staticBackdropAgregarSoftSkill">
            </div>        
            <!-- MODAL - AGREGAR SOFT SKILL -->
            <div class="modal fade" id="staticBackdropAgregarSoftSkill" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modal-title"><b>AGREGAR SOFT SKILL</b></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="">
                                <div class="mb-3">
                                    <label for="validationDefault01" class="form-label"><b>NOMBRE DEL SKILL</b></label>
                                    <input type="text" class="form-control" id="validationDefault01" required>
                                </div>
                                <div class="mb-3">
                                    <label for="validationDefault01" class="form-label"><b>PORCENTAJE</b></label>
                                    <input type="number" min="0" max="100" step="5">
                                </div>                                                
                                <div class="modal-footer">
                                    <button class="btn btn-secondary" type="submit">agregar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- INICIATIVA -->
        <div class="skill">
            <div class="skill-nombre"><b>INICIATIVA</b></div>
            <div class="contenedor">
                <div class="skill-barra contenedor">
                    <div class="skill-porcentaje soft" per="80"></div>
                </div>
                <div class="botones-acciones">
                    <img class="editar" src="../../../assets/imágenes/editar.png" alt="">
                </div>
                <div class="botones-acciones">
                    <img class="borrar" src="../../../assets/imágenes/borrar.png" alt="">
                </div>
            </div>
        </div>
        
        <!-- TRABAJO EN EQUIPO -->
        <div class="skill">
            <div class="skill-nombre"><b>TRABAJO EN EQUIPO</b></div>
            <div class="contenedor">
                <div class="skill-barra contenedor">
                    <div class="skill-porcentaje soft" per="100"></div>
                </div>
                <div class="botones-acciones">
                    <img class="editar" src="../../../assets/imágenes/editar.png" alt="">
                </div>
                <div class="botones-acciones">
                    <img class="borrar" src="../../../assets/imágenes/borrar.png" alt="">
                </div>
            </div>
        </div>
        
        <!-- ADAPTACIÓN -->
        <div class="skill">
            <div class="skill-nombre"><b>ADAPTACIÓN</b></div>
            <div class="contenedor">
                <div class="skill-barra contenedor">
                    <div class="skill-porcentaje soft" per="80"></div>
                </div>
                <div class="botones-acciones">
                    <img class="editar" src="../../../assets/imágenes/editar.png" alt="">
                </div>
                <div class="botones-acciones">
                    <img class="borrar" src="../../../assets/imágenes/borrar.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
