<!-- EXPERIENCIA -->
<section>
    <div class="cuerpo experiencia">
        <div class="contenedor">
            <h2 class="titulo-de-seccion">EXPERIENCIA</h2>                            
        </div>
        <div class="contenedor">                             
            <p>He desarrollado de forma autodidacta algunos proyectos de Frontend -una página web utilizando HTML, CSS y JavaScript- y Backend -programas que simulan un sistema bancario, una billetera virtual, entre otros-. 
                Me gustaría trabajar en un ambiente laboral formal para poder seguir formándome.
            </p> 
            <div>
                <div class="botones-acciones">
                    <img class="editar" src="../../../assets/imágenes/editar.png" alt="" data-bs-toggle="modal" data-bs-target="#staticBackdropExperiencia">
                </div>                            
            </div>                       
            <!-- MODAL - EDITAR EXPERIENCIA -->
            <div class="modal fade" id="staticBackdropExperiencia" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modal-title"><b>EXPERIENCIA</b></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="">
                                <div class="mb-3">
                                    <textarea class="form-control" name="" cols="53" rows="5"></textarea>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-secondary" type="submit">editar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>                            
        </div> 
    </div>
</section>
