<!-- ACERCA DE -->
<div class="cuerpo acerca-de">
    <div class="contenedor">
        <h2 class="titulo-de-seccion">ACERCA DE</h2>
    </div>
    <div class="contenedor">
        <div class="contenedor">
            <p>Full Stack Developer Jr. 
                Estudiando programación desde comienzos de 2021, tanto en Frontend como Backend. 
                También soy músico y escritor.
            </p>
            <div>
                <div class="botones-acciones">
                    <img class="editar" src="../../../assets/imágenes/editar.png" data-bs-toggle="modal" data-bs-target="#staticBackdropAcercaDe">
                </div>
            </div>

            <!-- MODAL - EDITAR ACERCA DE -->
            <div class="modal fade" id="staticBackdropAcercaDe" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modal-title"><b>ACERCA DE</b></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="">
                                <div class="mb-3">
                                    <textarea class="form-control" name="" cols="53" rows="5"></textarea>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-secondary" type="submit">editar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>                
    </div>                        
</div>

