<!-- PROYECTOS -->
<section>
    <div class="cuerpo proyectos">
        <div class="contenedor">
            <h2 class="titulo-de-seccion">PROYECTOS</h2>
            <div class="botones-acciones add">
                <img class="add" src="../../../assets/imágenes/agregar.png" data-bs-toggle="modal" data-bs-target="#staticBackdropAgregarProyecto">
            </div>
            <!-- MODAL - AGREGAR PROYECTO -->
            <div class="modal fade" id="staticBackdropAgregarProyecto" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modal-title"><b>AGREGAR PROYECTO</b></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="">
                                <div class="mb-3">
                                    <label for="validationDefault01" class="form-label"><b>DESCRIPCIÓN</b></label>
                                    <input type="text" class="form-control" id="validationDefault01" required>
                                </div>
                                <div class="mb-3">
                                    <label for="validationDefault01" class="form-label"><b>LINK DEL PROYECTO</b></label>
                                    <input type="text" class="form-control" id="validationDefault01" required>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-secondary" type="submit">editar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ul>
            <li>
                <div class="contenedor">
                    <div>
                        <p class="proyectos-item">Portafolio Web (proyecto final - Argentina Programa)</p>
                    </div>
                    <div class="contenedor">
                        <div class="botones-acciones">
                            <img class="editar" src="../../../assets/imágenes/editar.png" alt="" data-bs-toggle="modal" data-bs-target="#staticBackdropProyectos"> 
                        </div>
                        <!-- MODAL - EDITAR PROYECTO -->
                        <div class="modal fade" id="staticBackdropProyectos" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modal-title"><b>PROYECTO</b></h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="">
                                            <div class="mb-3">
                                                <label for="validationDefault01" class="form-label"><b>DESCRIPCIÓN</b></label>
                                                <input type="text" class="form-control" id="validationDefault01" required>
                                            </div>
                                            <div class="mb-3">
                                                <label for="validationDefault01" class="form-label"><b>LINK DEL PROYECTO</b></label>
                                                <input type="text" class="form-control" id="validationDefault01" required>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-secondary" type="submit">editar</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="botones-acciones">
                            <img class="borrar" src="../../../assets/imágenes/borrar.png" alt="">
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="contenedor">
                    <div>
                        <p><a href="https://marcospereyra.000webhostapp.com/Eval.%20Integradora%20-%20M%C3%B3dulo%202/index.html" target="_blanck">Página Web (proyecto final - UTN)</a></p>
                    </div>
                    <div class="contenedor">
                        <div class="botones-acciones">
                            <img class="editar" src="../../../assets/imágenes/editar.png" alt="" data-bs-toggle="modal" data-bs-target="#staticBackdropProyectos">
                        </div>
                        <!-- MODAL - EDITAR PROYECTO -->
                        <div class="modal fade" id="staticBackdropProyectos" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modal-title"><b>PROYECTO</b></h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="">
                                            <div class="mb-3">
                                                <label for="validationDefault01" class="form-label"><b>DESCRIPCIÓN</b></label>
                                                <input type="text" class="form-control" id="validationDefault01" required>
                                            </div>
                                            <div class="mb-3">
                                                <label for="validationDefault01" class="form-label"><b>LINK DEL PROYECTO</b></label>
                                                <input type="text" class="form-control" id="validationDefault01" required>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-secondary" type="submit">editar</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="botones-acciones">
                            <img class="borrar" src="../../../assets/imágenes/borrar.png" alt="">
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="contenedor">
                    <div>
                        <p><a href="https://github.com/MarcosPereyra" target="_blanck">Perfil de GitHub</a></p>
                    </div>
                    <div class="contenedor">
                        <div class="botones-acciones">
                            <img class="editar" src="../../../assets/imágenes/editar.png" alt=""data-bs-toggle="modal" data-bs-target="#staticBackdropProyectos">
                        </div>
                        <!-- MODAL - EDITAR PROYECTO -->
                        <div class="modal fade" id="staticBackdropProyectos" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modal-title"><b>PROYECTO</b></h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="">
                                            <div class="mb-3">
                                                <label for="validationDefault01" class="form-label"><b>DESCRIPCIÓN</b></label>
                                                <input type="text" class="form-control" id="validationDefault01" required>
                                            </div>
                                            <div class="mb-3">
                                                <label for="validationDefault01" class="form-label"><b>LINK DEL PROYECTO</b></label>
                                                <input type="text" class="form-control" id="validationDefault01" required>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-secondary" type="submit">editar</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="botones-acciones">
                            <img class="borrar" src="../../../assets/imágenes/borrar.png" alt="">
                        </div>
                    </div>
                </div>                    
            </li>
        </ul>        
    </div>
</section>
