<header>
    <app-barra></app-barra>
</header>

<main>
    <div class="container">
        <section>
            <app-banner-y-datos></app-banner-y-datos>
        </section>
        
        <section>
            <app-acerca-de></app-acerca-de>
        </section>

        <section>
            <app-experiencia></app-experiencia>
        </section>
        
        <section>
            <app-educacion></app-educacion>
        </section>
        
        <section>
            <app-skills></app-skills>
        </section>
        
        <section>
            <app-proyectos></app-proyectos>
        </section>
    </div> 
</main>
<footer>
    <app-footer></app-footer>        
</footer>




<!-- PORCENTAJES DE SKILLS (ANIMADO) -->
<script>
    $(".skill-porcentaje").each(function(){
        var $this = $(this);
        var per = $this.attr("per");
        $this.css("width", per + "%");
        
        $({animatedValue: 0}).animate({animatedValue: per},{
            duration: 1,
            complete: function(){
                $this.attr("per", Math.floor(this.animatedValue) + "%");
            }    
        });
    });
</script>
