<!-- EDUCACIÓN -->
<div class="cuerpo educacion">
    <div class="contenedor">
        <h2 class="titulo-de-seccion">EDUCACIÓN</h2>
        <div class="botones-acciones add">
            <img class="add" src="../../../assets/imágenes/agregar.png" data-bs-toggle="modal" data-bs-target="#staticBackdropAgregarEducacion">
        </div>
        <!-- MODAL - AGREGAR EDUCACIÓN -->
        <div class="modal fade" id="staticBackdropAgregarEducacion" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal-title"><b>AGREGAR EDUCACIÓN</b></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="">
                            <div class="mb-3">
                                <label for="validationDefault01" class="form-label"><b>NOMBRE DE LA INSTITUCIÓN</b></label>
                                <input type="text" class="form-control" id="validationDefault01" required>
                            </div>
                            <div class="mb-3">
                                <label for="validationDefault01" class="form-label"><b>CARRERA / TÍTULO</b></label>
                                <textarea class="form-control" name="" cols="53" rows="5"></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="validationDefault01" class="form-label"><b>PERÍODO DE ESTUDIO</b></label>
                                <input type="text" class="form-control" id="validationDefault01" required>
                            </div>
                            <div class="mb-3">
                                <label for="validationDefault01" class="form-label"><b>LOGO DE LA INSTITUCIÓN</b></label>
                                <input type="file" class="form-control" id="validationDefault01" required>
                            </div>
                            <div class="mb-3">
                                <label for="validationDefault01" class="form-label"><b>LINK DE CERTIFICADO</b></label>
                                <input type="text" class="form-control" id="validationDefault01" required>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" type="submit">agregar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contenedor-educacion">
        <div class="contenido educacion">
            <div class="contenedor">
                <img class="img-estudios" src="../../../assets/imágenes/logo-ort.jpg" alt="logo ORT">
                <div class="item-educacion">
                    <h5> Escuelas Técnicas ORT </h5>
                    <div class="cuerpo-item-educacion">
                        <p>Bachiller Técnico con orientación en Producción Musical
                            (Graduado con honores - Abanderado)
                        </p>
                        <div class="cuerpo-item-educacion">
                            <div class="botones-acciones">
                                <img class="editar" src="../../../assets/imágenes/editar.png" alt="" height="25" width="25" data-bs-toggle="modal" data-bs-target="#staticBackdropEducacion">
                            </div>
                            <!-- MODAL - EDITAR EDUCACIÓN -->
                            <div class="modal fade" id="staticBackdropEducacion" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modal-title"><b>EDUCACIÓN</b></h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="">
                                                <div class="mb-3">
                                                    <div class="mb-3">
                                                        <label for="validationDefault01" class="form-label"><b>NOMBRE DE LA INSTITUCIÓN</b></label>
                                                        <input type="text" class="form-control" id="validationDefault01" required>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="validationDefault01" class="form-label"><b>CARRERA / TÍTULO</b></label>
                                                        <textarea class="form-control" name="" cols="53" rows="5"></textarea>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="validationDefault01" class="form-label"><b>PERÍODO DE ESTUDIO</b></label>
                                                        <input type="text" class="form-control" id="validationDefault01" required>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="validationDefault01" class="form-label"><b>LOGO DE LA INSTITUCIÓN</b></label>
                                                        <input type="file" class="form-control" id="validationDefault01" required>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="validationDefault01" class="form-label"><b>LINK DE CERTIFICADO</b></label>
                                                        <input type="text" class="form-control" id="validationDefault01" required>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-secondary" type="submit">editar</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>                                
                        </div>
                    </div>
                    <div>
                        <p class="fechas">marzo 2009 - diciembre 2014</p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="contenido educacion">
            <div class="contenedor">
                <img class="img-estudios" src="../../../assets/imágenes/logo-UTN.jpg" alt="logo UTN">
                <div class="item-educacion">
                    <h5> Universidad Tecnológica Nacional </h5>
                    <div class="cuerpo-item-educacion">
                        <p>Fundamentos de la Programación</p>
                        <div class="cuerpo-item-educacion">
                            <div class="botones-acciones">
                                <img class="editar" src="../../../assets/imágenes/editar.png" alt="" height="25" width="25" data-bs-toggle="modal" data-bs-target="#staticBackdropEducacion">
                            </div>
                            <!-- MODAL - EDITAR EDUCACIÓN -->
                            <div class="modal fade" id="staticBackdropEducacion" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modal-title"><b>EDUCACIÓN</b></h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="">
                                                <div class="mb-3">
                                                    <div class="mb-3">
                                                        <label for="validationDefault01" class="form-label"><b>NOMBRE DE LA INSTITUCIÓN</b></label>
                                                        <input type="text" class="form-control" id="validationDefault01" required>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="validationDefault01" class="form-label"><b>CARRERA / TÍTULO</b></label>
                                                        <textarea class="form-control" name="" cols="53" rows="5"></textarea>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="validationDefault01" class="form-label"><b>PERÍODO DE ESTUDIO</b></label>
                                                        <input type="text" class="form-control" id="validationDefault01" required>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="validationDefault01" class="form-label"><b>LOGO DE LA INSTITUCIÓN</b></label>
                                                        <input type="file" class="form-control" id="validationDefault01" required>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="validationDefault01" class="form-label"><b>LINK DE CERTIFICADO</b></label>
                                                        <input type="text" class="form-control" id="validationDefault01" required>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-secondary" type="submit">editar</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="botones-acciones">
                                <img class="borrar" src="../../../assets/imágenes/borrar.png" alt="" height="25" width="25" onclick="borrarSeccion()">
                            </div>
                        </div>
                    </div>
                    <div>
                        <p class="fechas">enero 2021 - abril 2021</p>
                        <p><a class="certificado" href="https://drive.google.com/file/d/1z4txMe6IRC7eyib9OcxBgHplQqA6_5y6/view?usp=sharing" target="_blanck">certificado</a></p>
                    </div>    
                </div>
            </div>
        </div>
        
        <div class="contenido educacion">
            <div class="contenedor">
                <img class="img-estudios" src="../../../assets/imágenes/logo-UTN.jpg" alt="logo UTN">
                <div class="item-educacion">
                    <h5> Universidad Tecnológica Nacional </h5>
                    <div class="cuerpo-item-educacion">
                        <p>Desarrollo Web con JavaScript</p>
                        <div class="cuerpo-item-educacion">
                            <div class="botones-acciones">
                                <img class="editar" src="../../../assets/imágenes/editar.png" alt="" height="25" width="25" data-bs-toggle="modal" data-bs-target="#staticBackdropEducacion">
                            </div>
                            <!-- MODAL - EDITAR EDUCACIÓN -->
                            <div class="modal fade" id="staticBackdropEducacion" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modal-title"><b>EDUCACIÓN</b></h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="">
                                                <div class="mb-3">
                                                    <div class="mb-3">
                                                        <label for="validationDefault01" class="form-label"><b>NOMBRE DE LA INSTITUCIÓN</b></label>
                                                        <input type="text" class="form-control" id="validationDefault01" required>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="validationDefault01" class="form-label"><b>CARRERA / TÍTULO</b></label>
                                                        <textarea class="form-control" name="" cols="53" rows="5"></textarea>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="validationDefault01" class="form-label"><b>PERÍODO DE ESTUDIO</b></label>
                                                        <input type="text" class="form-control" id="validationDefault01" required>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="validationDefault01" class="form-label"><b>LOGO DE LA INSTITUCIÓN</b></label>
                                                        <input type="file" class="form-control" id="validationDefault01" required>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="validationDefault01" class="form-label"><b>LINK DE CERTIFICADO</b></label>
                                                        <input type="text" class="form-control" id="validationDefault01" required>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-secondary" type="submit">editar</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="botones-acciones">
                                <img class="borrar" src="../../../assets/imágenes/borrar.png" alt="" height="25" width="25" onclick="borrarSeccion()">
                            </div>
                        </div>
                    </div>
                    <p class="fechas">abril 2021 - junio 2021</p>
                    <p><a class="certificado" href="https://drive.google.com/file/d/1hSEPPwoToL-pNCpDjPM4LRrHis_xQTAu/view?usp=sharing" target="_blanck">certificado</a></p>
                </div>
            </div>
        </div>
        
        
        <div class="contenido educacion">
            <div class="contenedor">
                <img class="img-estudios" src="../../../assets/imágenes/logo argentina programa.png" alt="logo Argentina Programa">
                <div class="item-educacion">
                    <h5> Ministerio de Desarrollo Productivo </h5>
                    <div class="cuerpo-item-educacion">
                        <p>Argentina Programa: #SéProgramar</p>
                        <div class="cuerpo-item-educacion">
                            <div class="botones-acciones">
                                <img class="editar" src="../../../assets/imágenes/editar.png" alt="" height="25" width="25" data-bs-toggle="modal" data-bs-target="#staticBackdropEducacion">
                            </div>
                            <!-- MODAL - EDITAR EDUCACIÓN -->
                            <div class="modal fade" id="staticBackdropEducacion" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modal-title"><b>EDUCACIÓN</b></h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="">
                                                <div class="mb-3">
                                                    <div class="mb-3">
                                                        <label for="validationDefault01" class="form-label"><b>NOMBRE DE LA INSTITUCIÓN</b></label>
                                                        <input type="text" class="form-control" id="validationDefault01" required>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="validationDefault01" class="form-label"><b>CARRERA / TÍTULO</b></label>
                                                        <textarea class="form-control" name="" cols="53" rows="5"></textarea>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="validationDefault01" class="form-label"><b>PERÍODO DE ESTUDIO</b></label>
                                                        <input type="text" class="form-control" id="validationDefault01" required>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="validationDefault01" class="form-label"><b>LOGO DE LA INSTITUCIÓN</b></label>
                                                        <input type="file" class="form-control" id="validationDefault01" required>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="validationDefault01" class="form-label"><b>LINK DE CERTIFICADO</b></label>
                                                        <input type="text" class="form-control" id="validationDefault01" required>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-secondary" type="submit">editar</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="botones-acciones">
                                <img class="borrar" src="../../../assets/imágenes/borrar.png" alt="" height="25" width="25" onclick="borrarSeccion()">
                            </div>
                        </div>
                    </div>
                    <p class="fechas">octubre 2021 - diciembre 2021</p>
                    <p><a class="certificado" href="https://drive.google.com/file/d/1WvaZnOKl84GqJpp4LsyBS2nsk_xaVU9O/view?usp=sharing" target="_blanck">certificado</a></p>
                </div>
            </div>
        </div>

        <div class="contenido educacion">
            <div class="contenedor">
                <img class="img-estudios" src="../../../assets/imágenes/logo argentina programa.png" alt="logo Argentina Programa">
                <div class="item-educacion">
                    <h5> Ministerio de Desarrollo Productivo </h5>
                    <div class="cuerpo-item-educacion">
                        <p>Argentina Programa: #YoProgramo</p>
                        <div class="cuerpo-item-educacion">
                            <div class="botones-acciones">
                                <img class="editar" src="../../../assets/imágenes/editar.png" alt="" height="25" width="25" data-bs-toggle="modal" data-bs-target="#staticBackdropEducacion">
                            </div>
                            <!-- MODAL - EDITAR EDUCACIÓN -->
                            <div class="modal fade" id="staticBackdropEducacion" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modal-title"><b>EDUCACIÓN</b></h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="">
                                                <div class="mb-3">
                                                    <div class="mb-3">
                                                        <label for="validationDefault01" class="form-label"><b>NOMBRE DE LA INSTITUCIÓN</b></label>
                                                        <input type="text" class="form-control" id="validationDefault01" required>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="validationDefault01" class="form-label"><b>CARRERA / TÍTULO</b></label>
                                                        <textarea class="form-control" name="" cols="53" rows="5"></textarea>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="validationDefault01" class="form-label"><b>PERÍODO DE ESTUDIO</b></label>
                                                        <input type="text" class="form-control" id="validationDefault01" required>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="validationDefault01" class="form-label"><b>LOGO DE LA INSTITUCIÓN</b></label>
                                                        <input type="file" class="form-control" id="validationDefault01" required>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="validationDefault01" class="form-label"><b>LINK DE CERTIFICADO</b></label>
                                                        <input type="text" class="form-control" id="validationDefault01" required>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-secondary" type="submit">editar</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="botones-acciones">
                                <img class="borrar" src="../../../assets/imágenes/borrar.png" alt="" height="25" width="25" onclick="borrarSeccion()">
                            </div>
                        </div>
                    </div>
                    <p class="fechas">febrero 2022 - agosto 2022</p>
                    <p><a class="certificado" href="https://drive.google.com/file/d/1WvaZnOKl84GqJpp4LsyBS2nsk_xaVU9O/view?usp=sharing" target="_blanck">certificado</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
